* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}

.header {
    padding: 30px;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 50px
}

.topnav {
    flex: 1;
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.leftcolumn {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.rightcolumn {
    display: flex;
    flex-direction: column;
    float: left;
    width: 20%;
    background-color: #060338;
    padding-left: 20px;
}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.cardpost {
    display: flex;
    flex-direction: column;
    background-color: rgb(198, 229, 235);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
    padding: 20px;
    margin-top: 20px;
}

#postimage {
    width: 100px;
    border-radius: 20px;
}

#posthead {
    text-align: center;
}

.card2 {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.card1 {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 20px;
    margin-top: 20px;

}

.row {
    display: flex;
}

.row:after {
    content: "";
    display: table;
    clear: both;

}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

#teamimage1 {
    width: 40%;
    border-radius: 10px;
}

#business {
    width: 30%;
}

#waswirtun {
    text-align: center;
    font-family: cursive;
}

#waswirtun1 {
    text-indent: 15px;
    font-family: cursive;
}

#waswirtun1::first-letter {
    font-size: 30px;
    font-style: italic;
    font-weight: bolder;
}


@media (max-width: 800px) {
    .leftcolumn {
        width: 100%;
    }

    .rightcolumn {
        width: 100%;
    }

    .row {
        display: table;
    }
}

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}